<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SpämmiFoorumi</title>

    </head>
    <body>

        <h1>SpämmiFoorumi</h1>

        <table>
            <tr>

                <th>
                    <div align="left"> <i>Alue</i> </div>
                </th>

                <th>
                    <div align="left"><i>Viestejä yhteensä</i></div>
                </th>

                <th>
                    <div align="left"><i>Viimeisin viesti</i></div>
                </th>

            </tr>

            <tr th:each="alue: ${alueet}">

                <td>   
                    <a th:href="@{~/alue/{id}/sivu/{sivunumero}(id=${alue.id},sivunumero=1)}" th:text="${alue.otsikko}"></a>
                </td>

                <td>
                    <div align="center"><span th:text="${alue.vMaara}"></span></div>
                </td>

                <td>

                    <span th:text="${alue.viimeisin}"></span>
                </td>

            </tr>



        </table>

        <h2>Lisää uusi alue</h2>
        <form method="POST" th:action="@{~/alue}">

            <input type="text" name="alue"/>
            <input type="submit" value="Lisää"/>
        </form>


    </body>
</html>
