<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SpämmiFoorumi</title>
        <style>
            #sivunvaihto {
                margin-top: 10px;
                margin-bottom: 10px;
                width: 400px;
            }
        </style>
    </head>

    <body>
        <h1>SpämmiFoorumi</h1>



        <div><b><i>Alue: <a th:href="@{~/alue/{alueId}/sivu/{sivunumero}(alueId= ${alue.id},sivunumero=${sivunumero})}" th:text="${alue.otsikko}" ></a>
            -> <span th:text="${viestiketju.aihe}"></span></i></b></div>


        <table>


            <tr>
                <th> 

                </th>
            </tr>

            <tr th:each="viesti,iter: ${viestit}"> 

                <td>   
                    (<span th:text="${((iter.index + 1) + ((sivunumero * 10) - 10))}"></span>)
                </td>

                <td>   
                    <span th:text="${viesti.sisalto}"></span>
                </td>
                
                <td>   
                    t. <span th:text="${viesti.nimimerkki}"></span>
                </td> 

                <td>   
                    <span th:text="${viesti.lahetysaika}"></span>
                </td> 

                

            </tr>

        </table>


        <h3>Lisää uusi viesti</h3>

        <form method="POST" th:action="@{~/alue/{alueid}/viestiketju/{viestiketjuid}/sivu/{sivunumero}/viesti(alueid=${alue.id},viestiketjuid=${viestiketju.id},sivunumero=${sivunumero})}"> 

            <b>Nimimerkki:</b>
            <input type="text" name="nimimerkki"/>
            <br></br>
            <br></br>
            <b>Viestin sisältö:</b>

            <textarea id="sisalto" name="sisalto"> </textarea>
            

            <input type="submit" value="Lisää"/>
            <br></br>
            <br></br>

        </form> 

        <div id="sivunvaihto">

            <div style="float: left; width: 130px"> 
                <form method="POST" th:action="@{~/alue/{alueId}/viestiketju/{viestiketjuId}/edellinen(alueId=${alue.id}, viestiketjuId=${viestiketju.id})}">
                    <input type="submit" value=" ← Edelliselle sivulle"/>
                </form>
            </div>

            <div style="float: right; width: 225px"> 
                <form  method="POST" th:action="@{~/alue/{alueId}/viestiketju/{viestiketjuId}/seuraava(alueId=${alue.id}, viestiketjuId=${viestiketju.id})}">
                    <input type="submit" value="Seuraavalle sivulle → "/>
                </form>
                
            </div>

        </div>
        <div>
            <a th:href="@{~/}">Takaisin etusivulle</a>
        </div>

    </body>

</html>
