<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SpammiFoorumi</title>

    </head>
    <body>

        <h1>SpammiFoorumi</h1>

        <table>

            <tr>
                <th>
                    <i>Alue: <span th:text="${alue.otsikko}"></span></i>
                </th>

                <th><i>Viestejä</i></th>
                <th><i>Viimeisin viesti</i></th>
            </tr>

            <tr th:each="ketju: ${ketjut}">

                <td>   
                    <a th:href="@{~/alue/{alueId}/viestiketju/{viestiketjuId}(alueId=${ketju.alue.id},viestiketjuId=${ketju.id})}" th:text="${ketju.aihe}"></a>
                </td>

                <td 
                    th:href="@{~/alue/{AlueId}(AlueId=${ketju.alue.id})}" th:text="${ketju.getvMaara()}">
                </td>

                <td
                    th:href="@{~/alue/{AlueId}(AlueId=${ketju.alue.id})}" th:text="${ketju.getViimeisin()}">
                </td>

            </tr>

        </table>

        <h2>Lisää uusi viestiketju</h2>

        <form method="POST" th:action="@{~/alue/{id}/viestiketju(id=${alue.id})}">


            <b>Nimimerkki:</b>
            <input type="text" name="nimimerkki"/>
            <br></br>
            <br></br>
            <b>Otsikko: </b>
            <input type="text" name="viestiketju"/>
            <br></br>
            <br></br>
            <b>Viestin sisältö:</b>
            <textarea id="sisalto" name="sisalto"> </textarea>
            <input type="submit" value="Lisää"/>


        </form>

        <a th:href="@{~/}">Takaisin etusivulle</a>

        <h2>Seuraavalle sivulle -></h2> 
        <form method="GET" th:action="@{~/alue/{id}/sivu/{sivunumero}(id=${alue.id}, sivunumero=${sivunumeroS})}">

            <input type="submit" value="Seuraava"/>
        </form>
        
        <h2>Edelliselle sivulle -></h2> 
        <form method="GET" th:action="@{~/alue/{id}/sivu/{sivunumero}(id=${alue.id}, sivunumero=(${sivunumeroE}))}">

            <input type="submit" value="Edellinen"/>
        </form>

    </body>
</html>
