<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SpammiFoorumi</title>
        
    </head>
    <body>
        
        <h1>SpammiFoorumi</h1>
        
        <table>
            <tr>
                <th>Alue</th>
                <th>Viesteja</th>
                <th>Viimeisin viesti</th>
            </tr>
            
            
            
             
        </table>
        
        
        
    </body>
</html>
