<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SpammiFoorumi</title>
        <style>
            #sivunvaihto {
                margin-top: 10px;
                margin-bottom: 10px;
                width: 400px;
            }
        </style>
    </head>
    <body>

        <h1>SpammiFoorumi</h1>

        <table>

            <tr>

                <th>
                    <div align="left"><i>Alue: <span th:text="${alue.otsikko}"></span></i></div>
                </th>

                <th>
                    <div align="left"><i>Viestejä</i></div>
                </th>

                <th>
                    <div align="left"><i>Viimeisin viesti</i></div>
                </th>

            </tr>

            <tr th:each="ketju: ${ketjut}">

                <td>   
                    <a th:href="@{~/alue/{alueId}/viestiketju/{viestiketjuId}(alueId=${ketju.alue.id},viestiketjuId=${ketju.id})}" th:text="${ketju.aihe}"></a>
                </td>

                <td 
                    align="center" th:href="@{~/alue/{AlueId}(AlueId=${ketju.alue.id})}" th:text="${ketju.getvMaara()}">
                </td>

                <td
                    th:href="@{~/alue/{AlueId}(AlueId=${ketju.alue.id})}" th:text="${ketju.getViimeisin()}">
                </td>

            </tr>

        </table>

        <h2>Lisää uusi viestiketju</h2>

        <form method="POST" th:action="@{~/alue/{alueId}/viestiketju(alueId=${alue.id})}">


            <b>Nimimerkki:</b>
            <input type="text" name="nimimerkki"/>
            <br></br>
            <br></br>
            <b>Otsikko: </b>
            <input type="text" name="viestiketju"/>
            <br></br>
            <br></br>
            <b>Viestin sisältö:</b>
            <textarea id="sisalto" name="sisalto"> </textarea>
            <input type="submit" value="Lisää"/>


        </form>
        

        <div id="sivunvaihto">

            <div style="float: left; width: 130px"> 
                <form method="POST" th:action="@{~/alue/{alueId}/edellinen(alueId=${alue.id})}">
                    <input type="submit" value=" ← Edelliselle sivulle"/>
                </form>
            </div>

            <div style="float: right; width: 225px"> 
                <form  method="POST" th:action="@{~/alue/{alueId}/seuraava(alueId=${alue.id})}">
                    <input type="submit" value="Seuraavalle sivulle → "/>
                </form>
            </div>

        </div>
        <div>
            <a th:href="@{~/}">Takaisin etusivulle</a>
        </div>
    </body>
</html>

