<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>SpammiFoorumi</title>
    </head>

    <body>
        <h1>SpammiFoorumi</h1>

        <table>

            <tr>
                <th> 
                    Alue: <span th:text="${alue.otsikko}" ></span> 
                    -> <span th:text="${viestiketju.aihe}"></span>
                </th>
            </tr>

            <tr>
                <th> 

                </th>
            </tr>

            <tr th:each="viesti,iter: ${viestit}"> 

                <td>   
                    ( <span th:text="${iter.index + 1}"></span> )
                </td>

                <td>   
                    <span th:text="${viesti.sisalto}"></span>
                </td> 

                <td>   
                    <span th:text="${viesti.lahetysaika}"></span>
                </td> 
                
                <td>   
                    <span th:text="${viesti.nimimerkki}"></span>
                </td> 

            </tr>

        </table>


        <h2>Lisää uusi viesti</h2>


        <form method="POST" th:action="@{~/alue/{alueId}/viestiketju/{viestiketjuId}
              (alueid=${alueId},viestiketjuId=${viestiketjuId})}"> 

            <span>Nimimerkki:</span>
            <input type="text" name="nimimerkki"/>
            <span>Sisälto:</span>
            <input type="text" name="sisalto"/>
            
            <input type="submit" value="Lisää"/>

        </form> 

        <a th:href="@{~/}">Takaisin etusivulle</a>

    </body>

</html>

<!-- muistilappu-->